* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
    overflow: wrap;
}

.container {
    background-color: white;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15vh;
}

/* NAVBAR */
.navbar {
    font-family: "Caveat Brush", cursive;
    font-size: 1.2em;
    color: black;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    align-items: center;
    gap: 20px;
}

.name {
    font-size: 4em;
    font-weight: bolder;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 50px;
    font-size: 1.3em;
    transition: all 0.3s eaes;
}

.navbar ul li:hover {
    transform: scale(1.1);
}

.contact-button {
    font-family: "Caveat Brush", cursive;
    font-size: 1.2em;
    border: 1px solid red;
    background-color: red;
    border-radius: 10px;
    padding: 15px 25px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.contact-button:hover {
    transform: scale(0.8);
}


a {
    text-decoration: none;
    color: black;
}

.contact-button a {
    color: white;
}


/* HERO-SECTION */
.hero {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    background-color: white;
    margin: auto;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 50px;
    text-align: center;
}

.text h1 {
    font-family: "Jersey 25", sans-serif;
    font-size: 4em;
    font-weight: bolder;
}

.text h2 {
    font-family: "Grandstander";
    font-size: 2em;
    font-weight: bolder;
}

.text p {
    font-family: "Rubik Bubbles";
    font-weight: lighter;
    font-size: 1.3em;
}

.project-button {
    font-family: "Caveat Brush", cursive;
    font-size: 1.2em;
    border: 1px solid black;
    padding: 15px 25px;
    font-weight: bold;
    transition: all 0.3s ease-in;
    margin: 20px;
    border-radius: 10px;
}

.project-button:hover {
    transform: scale(0.8);
}

.image {
    padding: 10px;
}

.image img {
    width: 100%;
    transition: all 1s ease;
}

.image img:hover {
    transform: rotate(360deg);
}


/* ABOUT-SECTION */
.about {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 20px;
    width: 80%;
    height: 100%;
    margin: auto;
}

.about-heading {
    text-align: center;
    font-family: "Rubik Glitch";
    font-size: 3em;
    font-weight: bolder;
    border: 5px solid black;
    padding: 10px 15px;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3em;

}

.my-name {
    font-family: "Permanent Marker";
    font-size: 1.5em;
    font-weight: bolder;
}

.about-desc {
    font-family: "Rubik Bubbles";
    font-weight: lighter;
    font-size: 1.3em;
}

.about-text {
    padding: 20px;
    transition: all 0.5s ease;
}

.about-text p {
    margin: 10px;
}

.about-text:hover {
    transform: scale(1.1);
}

.about-image img {
    width: 100%;
    transition: all 0.3s ease;
}

.about-image img:hover {
    transform: scale(1.1);
}

/* FEATURED-WORK */
.Featured-Work {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 50px;
    padding: 20px;
}

.Work-Heading {
    font-family: "Rubik Glitch";
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    border: 5px solid black;
    padding: 10px 15px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.project-type {
    font-size: 1.3em;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    gap: 30px;
    box-shadow: 2px 2px 5px black;
    border-radius: 50px 50px 0px 0px;
    padding: 10px;
}

.project-image {
    width: 100%;
    overflow: hidden;
}

.project-image img {
    width: 100%;
    transition: all 0.8s ease;
}

.project-image img:hover {
    transform: scale(1.1);
}

.project-heading {
    font-family: "Grandstander";
    margin: 10px;
    transition: all 0.3s ease;
}

.project-heading:hover {
    transform: scale(1.1);
}

.project-description {
    font-family: "Rubik Bubbles";
    margin: 10px auto;
    padding: 15px;
}

.github-button {
    font-family: "Caveat Brush", cursive;
    font-size: 1.1em;
    border-radius: 10px;
    border: 1px solid black;
    padding: 15px 25px;
    font-weight: bold;
    transition: all 0.3s ease;
    margin: 10px;
}

.button {
    display: flex;
    gap: 20px;
}

.github-button:hover {
    transform: scale(0.8);
}

.live-demo a {
    color: white;
}

.live-demo {
    font-family: "Caveat Brush", cursive;
    font-size: 1.1em;
    border-radius: 10px;
    border: 1px solid red;
    background-color: red;
    padding: 15px 25px;
    font-weight: bold;
    transition: all 0.3s ease-in;
}

.live-demo:hover {
    transform: scale(0.8);
}

/* SKILLS-SECTION */
.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    margin: auto;
    gap: 50px;
}

.skills-heading {
    font-family: "Rubik Glitch";
    font-size: 3em;
    font-weight: bolder;
    text-align: center;
    border: 5px solid black;
    padding: 10px 15px;
    margin: 20px auto;
}

.skill-type {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    align-items: center;
    margin: 50px auto;
}

.skills-names {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.3em;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sname {
    font-family: "Jersey 25", sans-serif;
}

.simage img {
    width: 100px;
    height: 100px;
    border-radius: 80px;
    transition: all 0.3s ease;
}

.simage img:hover {
    transform: scale(1.1);
}

/* CONTACT-SECTION */
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 80%;
    height: 100%;
    margin: auto;
}

.contact-heading {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    border: 5px solid black;
    font-family: "Rubik Glitch";
    font-size: 3em;
    font-weight: bolder;
}

.contact-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.contact-details {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.details {
    width: 500px;
    height: 100px;
    align-items: center;
    box-shadow: 2px 2px 20px;
    display: flex;
    gap: 20px;
    transition: all 0.3s ease;
    border-radius: 10px;
    padding: 20px;
}

.details:hover {
    transform: scale(1.1);
}

.details-logo {
    overflow: hidden;
}

.details-logo img {
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.details-name {
    font-family: "Grandstander";
    font-weight: bolder;
    font-size: 1.5em;
}

.details-address {
    font-family: "Rubik Bubbles";
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 1px 5px;
    border-radius: 10px;
    width: 80%;
    padding: 30px;
    margin: auto;
}

.form-start {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.label {
    font-family: "Grandstander";
    font-size: 1.5em;
    font-weight: bolder;
}

.label-entry input {
    border: none;
    padding: 5px;
    background-color: rgb(138, 43, 226, .2);
    width: 95%;
    height: 40px;
    font-family: "Rubik Bubbles";
}

.send-message {
    width: 80%;
    margin: auto;
}

.send-message button {
    font-family: "Caveat Brush", cursive;
    font-size: 1.1em;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background-color: blueviolet;
    color: white;
    transition: all 0.3s ease;
}

.send-message button:hover {
    transform: scale(0.8);
}

@media(max-width:960px) {
    .navbar {
        flex-direction: column;
    }

    .navbar ul {
        flex-direction: column;
        gap: 5px;
    }

    .hero {
        flex-direction: column-reverse;
        font-size: 0.8em;
    }

    .about-content {
        flex-direction: column;
    }

    .about {
        font-size: 0.8em;
    }

    .projects {
        grid-template-columns: repeat(1, 1fr);
    }

    .skill-type {
        grid-template-columns: repeat(3, 1fr);
    }

    .contact-content {
        grid-template-columns: repeat(1, 1fr);
    }
}


@media (max-width:600px) {
    .skill-type {
        grid-template-columns: repeat(2, 1fr);
    }
}